<div class="inner_page_banner">
    <div class="container">
        <div class="row" style="margin-top: 85px;">
            <div class="col-lg-12">
                <h2 class="middleof_heading">candidate dashboard</h2>
            </div>
        </div>
    </div>
</div> <!-- home banner ends -->

<div class="candidate_dashboard">
    <div class="change_password">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_Menu">
                        <ul>
                            <li><a routerLink="/view-profile">View Profile</a></li>
                            <li><a routerLink="/edit-profile">Edit Profile</a></li>
                            <li><a routerLink="/job-orders">Jobs Applied</a></li>
                            <li><a routerLink="/job-search">Job Search</a></li>
                            <li><a routerLink="/candidate-activity" class="menu_active">Activity</a></li>
                            <!-- <li><a routerLink="/change-password">Change Password</a></li> -->
                            <li style="cursor:pointer;"><a (click)="logout()">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="right_side_content">
                        <h2 class="heading_profile">Activity</h2>
                        <div class="box_modal">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Type</th>
                                                <th>Regarding</th>
                                                <th>Notes</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="activity.count != 0">
                                            <tr *ngFor="let a of activity._embedded.activities">
                                                <th>{{ a.date_modified | date: 'longDate' }}</th>
                                                <td>{{ a.type }}</td>
                                                <td>{{ a.regarding_job }}</td>
                                                <td>{{ a.annotation }}</td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="activity.count === 0">
                                            <tr>
                                                <td colspan="4" class="text-center" style="font-size: 20px;"><b>No Activities</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- candidate dashboard ends -->

<div class="body_middle_content">
  <div class="left_tell">
    <img src="assets/images/left-graphictan.png">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Tell Us how we can help</h2>
        <input type="button" style="cursor:pointer;" name="" (click)="onContactUs()" value="Contact Us" class="btn__custom_primary" />
      </div>
    </div>
  </div>
  <div class="right_tell">
    <img src="assets/images/right-graphic-tan.png">
  </div>
</div> <!-- body middle content end -->