<div class="inner_page_banner">
  <div class="container">
    <div class="row" style="margin-top: 85px;">
      <div class="col-lg-12">
        <h2 class="middleof_heading">About Us</h2>
      </div>
    </div>
  </div>
</div>
<!-- home banner ends -->
<div class="body_content">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="body_para terms">
          <h1><span>About</span> Ftehub</h1>
          <h2>We Are a GLOBAL LEADER in Full Time Placements</h2>
          <p>
            FTEHUB is a leader in full time employment staffing in Information technology providing talent 
            to organizations of all sizes. With our staffing experience and our pool of highly qualified 
            Candidates in various technologies with industry experience we can deliver the right talent 
            to the matching need quicker for your organization goals and success. FTEHUB, with its 
            cutting-edge technology, provides relevant profiles to employers and relevant jobs to 
            jobseekers across industry verticals, experience levels and geographies.
          </p>
          <p>
            We understand the critical business needs, complexity of information of our customers. 
            We provide the best talent to your company needs for direct hire and we ensure that we 
            prescreen and verify the previous employment before introducing the candidates. 
            Our recruiting methodology enables us to match knowledge of the industry, client’s 
            business objectives, precise skills and experience while ensuring a right talent.
          </p>
          <p>
            FTEHUB also provides additional services at employers’ choice such as drug test, eligibility check etc.,
          </p>
          <h1><span>How it Works</span></h1>
<!--           <p>FTEHUB’s large resource pool includes a wide range of top talent, from programmers to designers, writers, customer support reps, and more.  </p>
          <p style="color:black;">How it works for employers:</p> -->
          <ol>
              <li style="color: #999;font-family: MyriadProLight;"><strong style="font-weight: bold; color:black;">Post a job:</strong> Simply tell us about the specific skills and eligibility criteria required. </li>
              <li style="color: #999;font-family: MyriadProLight;"><strong style="font-weight: bold; color:black;">We analyze </strong> your requirements. Our intelligent search functionality highlights the job aspirants, based on their skills.  We find talent that’s a good match for your requirements. </li>
              <li style="color: #999;font-family: MyriadProLight;"><strong style="font-weight: bold; color:black;">We send you </strong> a shortlist of likely candidates. </li>
          </ol>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="about_image"></div>
      </div>
    </div>
  </div>
</div>
<!-- body content ends -->
<!--<div class="body_content" style="background-color: #F2F0F1;padding-bottom: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="about_sec_image"></div>
      </div>
      <div class="col-lg-7">
        <div class="body_para terms">
          <h2>used by many of the world's leading agencies</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. </p>
          <input type="button" style="cursor:pointer;" (click)="onSearch()" name="getstarted" value="search now" class="btn btn_darkred" />
        </div>
      </div>
    </div>
  </div>
</div>-->
<!-- body content ends -->
<div class="body_middle_content">
  <div class="left_tell">
    <img src="assets/images/left-graphictan.png">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Tell Us how we can help</h2>
        <input type="button" style="cursor:pointer;" name="" (click)="onContactUs()" value="Contact Us" class="btn__custom_primary" />
      </div>
    </div>
  </div>
  <div class="right_tell">
    <img src="assets/images/right-graphic-tan.png">
  </div>
</div>
<!-- body middle content end -->