<div class="inner_page_banner">
			<div class="container">
				<div class="row" style="margin-top: 85px;">
					<div class="col-lg-12">
						<h2 class="middleof_heading">candidate dashboard</h2>
					</div>
				</div>
			</div>
		</div> <!-- home banner ends -->

		<div class="candidate_dashboard">
			<div class="change_password">
				<div class="container">
					<div class="row">
						<div class="col-lg-3">
							<div class="left_Menu">
								<ul>
									<li><a routerLink="/view-profile">View Profile</a></li>
									<li><a routerLink="/edit-profile">Edit Profile</a></li>
									<li><a routerLink="/job-orders">Jobs Applied</a></li>
									<li><a routerLink="/job-search">Job Search</a></li>
									<li><a routerLink="/candidate-activity">Activity</a></li>
									<li><a routerLink="/change-password" class="menu_active">Change Password</a></li>
									<li><a style="cursor:pointer;" (click)="logout()">Logout</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-9">
							<div class="right_side_content">
								<h2 class="heading_profile">accounts settings</h2>
								<div class="box_modal">
									<h4>Change password</h4>
									<div class="row">
										<div class="col-lg-6">
											<form>
												<div class="form-group custom_profile_inputs">
													<input type="password" class="form-control" placeholder="Old Password*" />
												</div>
												<div class="form-group custom_profile_inputs">
													<input type="password" class="form-control" placeholder="New Password*"/>
												</div>
												<div class="form-group custom_profile_inputs">
													<input type="password" class="form-control" placeholder="Confirm Password*"/>
												</div>
												<div class="confirm_btn">
													<a>
														<i class="fa fa-check" aria-hidden="true"></i> <span>Confirm Password Change</span>
													</a>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="box_modal">
									<h4>Delete Account</h4>
									<div class="row">
										<div class="col-lg-6">
											<form>
												<div class="form-group custom_profile_inputs">
													<input type="email" class="form-control" placeholder="Enter Email Address*" />
												</div>
												<div class="form-group custom_profile_inputs">
													<input type="password" class="form-control" placeholder="Enter Password*"/>
												</div>
												
												<div class="confirm_btn">
													<a>
														<i class="fa fa-check" aria-hidden="true"></i> <span>Confirm Delete</span>
													</a>
												</div>
											</form>
										</div>
									</div>
								</div>
								<input type="button" name="getstarted" value="confirm all changes" class="btn btn_darkred" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- candidate dashboard ends -->

<div class="body_middle_content">
  <div class="left_tell">
    <img src="assets/images/left-graphictan.png">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Tell Us how we can help</h2>
        <input type="button" style="cursor:pointer;" name="" (click)="onContactUs()" value="Contact Us" class="btn__custom_primary" />
      </div>
    </div>
  </div>
  <div class="right_tell">
    <img src="assets/images/right-graphic-tan.png">
  </div>
</div> <!-- body middle content end -->