<div class="inner_page_banner">
    <div class="container">
        <div class="row" style="margin-top: 85px;">
            <div class="col-lg-12">
                <h2 class="middleof_heading">candidate dashboard</h2>
            </div>
        </div>
    </div>
</div> <!-- home banner ends -->

<div class="candidate_dashboard">
    <div class="change_password">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="right_side_content">
                        <h2 class="heading_profile">Job Detail</h2>
                        <div class="box_modal">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="heading_job_detail" style="margin: 0px;"><span>{{ jobdetails.title }}</span> (#{{ jobdetails.id }})</h5>
                                </div>
                            </div>
                            <div class="border_bottom"></div>
                            <div class="list_data_detail">
                                <div class="list_job">
                                    <div class="left_job_list location_field">
                                        <span>Location</span>
                                    </div>
                                    <div class="left_job_list dot_detail">
                                        <span>:</span>
                                    </div>
                                    <div class="left_job_list">
                                        <span>{{ jobdetails.location.city }}</span>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="list_job">
                                    <div class="left_job_list location_field">
                                        <span>Hot</span>
                                    </div>
                                    <div class="left_job_list dot_detail">
                                        <span>:</span>
                                    </div>
                                    <div class="left_job_list">
                                        <span>{{ jobdetails.is_hot_text }}</span>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="list_job">
                                    <div class="left_job_list location_field">
                                        <span>Status</span>
                                    </div>
                                    <div class="left_job_list dot_detail">
                                        <span>:</span>
                                    </div>
                                    <div class="left_job_list">
                                        <span>{{ jobdetails._embedded.status.title }}</span>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="list_job">
                                    <div class="left_job_list location_field">
                                        <span>Description</span>
                                    </div>
                                    <div class="left_job_list dot_detail">
                                        <span>:</span>
                                    </div>
                                    <div class="left_job_list Descr">
                                        <span>{{ jobdetails.title }}</span>
                                        <span [innerHTML]="toHTML(jobdetails.description)"></span>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="list_job">
                                    <div class="left_job_list location_field">
                                        <span>Notes</span>
                                    </div>
                                    <div class="left_job_list dot_detail">
                                        <span>:</span>
                                    </div>
                                    <div class="left_job_list">
                                        <span *ngIf="jobdetails.notes">{{ jobdetails.notes }} </span>
                                        <span *ngIf="!jobdetails.notes">N/A</span>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="box_modal">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="heading_job_detail" style="margin: 0px;"><span>Upload Resume</span></h5>
                                </div>
                            </div>
                            <div class="border_bottom"></div>
                            <div class="list_data_detail">
                                <div class="col-lg-12">
                                    <input type="file" name="file" (change)="fileEvent($event)" accept=".pdf">
                                </div>
                            </div>
                        </div>
                        <input type="button" (click)="onApplyNow()" name="getstarted" value="Apply Now" class="btn btn_darkred" style="cursor: pointer;" *ngIf="!ApplyJobLoadingBtn"/>
                        <button class="btn btn_darkred" [disabled]="true" *ngIf="ApplyJobLoadingBtn">
                                  <i class="fa fa-spinner fa-spin"></i> Loading ...
                                </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- candidate dashboard ends -->